/* header */
.header {
  background-color: var(--color-header);
  box-shadow: var(--box-shadow);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
  background-color: var(--color-header);
  max-width: 1280px;
  margin: 0 auto;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header__image {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  color: var(--color-light);
}

.header__text {
  font-size: 0.7rem;
  color: var(--color-light);
  font-style: italic;
  position: relative;
  right: 1rem;
  bottom: 1rem;
}

.header__logo:hover,
.header__text:hover {
  color: var(--color-white);
}

.header__menu {
  font-size: 1.5rem;
  color: var(--color-light);
  text-transform: uppercase;
}

.header__menu:hover,
.header__menu:focus,
.header__menu:active {
  color: var(--color-white);
  border: 0rem;
  border-bottom: 0.1875rem solid;
  border-image: var(--linear-gradient);
  border-image-slice: 1;
}
