.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.menu__categories {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.menu__icon {
  width: 5rem;
}

.menu__spicy {
  width: 2.5rem;
  margin: 0 2rem;
}

.menu__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 0.6rem;
  width: 100%;
  color: var(--color-dark);
}

.menu__description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 2rem 0.6rem;
  width: 100%;
  color: var(--color-dark);
}

.menu__subtitle {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.6rem;
}

.menu__name-and-price {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-size: 2rem;
  padding: 0.5rem 0;
  border-bottom: 0.125rem solid var(--color-light-grey);
}

.menu__name {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: var(--color-dark);
}

.menu__price {
  color: var(--color-dark);
}

.menu__sub-description {
  padding: 1rem 0;
  font-size: 0.6rem;
  text-align: left;
  color: var(--color-grey);
}

.menu__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.menu__item {
  padding: 2rem 3rem;
  font-size: 0.9rem;
  width: 60rem;
}

.menu__no-item {
  font-size: 2rem;
  padding: 1rem 0;
  margin: 1rem 0;
  width: 55rem;
  color: var(--color-dark);
  border-bottom: 0.125rem solid var(--color-light-grey);
}

/* disclaimer */

.disclaimer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.disclaimer__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin: 0 3rem 3rem 3rem;
}
.disclaimer__img {
  width: 2.5rem;
}

.disclaimer__text {
  font-size: 1.4rem;
  color: var(--color-dark);
}

/* responsive design */

/* desktop */
@media screen and (min-width: 1280px) {
  .menu__sub-description {
    font-size: 1.2rem;
  }
  .menu__item {
    min-width: 70rem;
  }

  .menu__no-item {
    min-width: 65rem;
  }

  .disclaimer__content {
    margin: 0 3rem 3rem 8rem;
  }
}
